body{
background-color:#6A759B;
/*background-image:url("images/zen.jpg");*/
}

#btns button{
	back
}
#boxes{

}
.box {
	width:250px;
	position: relative;
	margin:4px;
	display:inline-block;
}
h4.textTrip.center{
/*	background: green;*/
color:#1A1831;;
}

.red {background-color:white;}
.blue {background-color:white;}
.violet {background-color:white;}
.yellow {background-color:white;}